<app-favorites-dialogs #myModal></app-favorites-dialogs>

<div *ngIf="news" style="opacity: 0;" [@visibilidad]="visibilidad">
  <div id="post-header" class="page-header">
    <div class="background-img" style="background-image: url('https://placeimg.com/1920/1080/any');"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="post-meta" *ngIf="category">
              
            <a class="post-category cat-{{category.id}}" [routerLink]= "['/news-category', category.id]">{{category.name}}</a>
            <span class="post-date">{{news.date | date: short}}</span>
          </div>
          <h1>{{ news.title}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- Post content -->
        <div class="col-md-8">
          <div class="section-row sticky-container">
            
            <div class="main-post" [innerHTML]="news.content">
                
            </div>
            
            <div class="post-shares sticky-shares like-button">
              <h3>Add this article to your favorites</h3>
              <br>
              <a (click)="addToFavorites(news.id)" class="share-facebook"><i class="fa fa-thumbs-up"></i></a>
            </div>  
            
          </div>
          
          <!-- 
          <div class="section-row text-center">
            <a href="#" style="display: inline-block;margin: auto;">
              <img class="img-responsive" src="./img/ad-2.jpg" alt="">
            </a>
          </div>
          ad -->
          
         
          
          <!-- comments -->
          
          <div *ngIf="news.comments">
            
            <div class="section-row">
              <div class="section-title">
                <h2>  {{ news.comments.length > 1 ? news.comments.length+' Comments': news.comments.length+' Comment'}} </h2>
              </div>
              
              <div class="post-comments">
                <!-- comment -->

                <div class="media" *ngFor="let comment of news.comments">
                  <div class="media-left">
                    <img class="media-object" src="../../assets/images/avatar.png" alt="">
                  </div>
                  <div class="media-body">
                    <div class="media-heading">
                      <h4>{{comment.author}}</h4>
                      <span class="time">{{comment.date | date: short }}</span>
                      
                    </div>
                    <p>{{comment.comment}}</p>
                    
                    <!-- comment -->
                    
                    <!-- /comment -->
                  </div>
                </div>
                <!-- /comment -->
                
               
              </div>
            </div>
          </div>
          <!-- /comments -->
          
          <!-- reply -->
          <div class="section-row">
            <div class="section-title">
              <h2>Leave a reply</h2>
              <p>your email address will not be published. required fields are marked *</p>
            </div>
            <form class="post-reply" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <span>Name *</span>
                    <input class="input" formControlName="author" type="text" name="name">
                    <span class="error-form" [hidden]="!(errorsForm.author)">
                      <i class="fa fa-exclamation-circle"></i> {{errorsForm.author}}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <span>Email *</span>
                    <input class="input" formControlName="email" type="email" name="email">
                    <span class="error-form" [hidden]="!(errorsForm.email)">
                      <i class="fa fa-exclamation-circle"></i> {{errorsForm.email}}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <span>Website</span>
                    <input class="input" formControlName="website" type="text" name="website">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="input" formControlName="comment" name="message" placeholder="Message"></textarea>
                    <span class="error-form" [hidden]="!(errorsForm.comment)">
                      <i class="fa fa-exclamation-circle"></i> {{errorsForm.comment}}</span>
                  </div>
                  <button class="primary-button" [disabled]="commentForm.invalid">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /reply -->
        </div>
        <!-- /Post content -->
        
        <!-- aside -->
        <div class="col-md-4">
         
          
          <!-- post widget -->
          <app-related-news [categoryId]="news.category"></app-related-news>

          <div class="aside-widget" *ngIf="relatedNews">
            <div class="section-title">
              <h2>Related Read</h2>
            </div>
            
            
       
          </div>
          <!-- /post widget -->
          
          
          
          <!-- catagories -->
          <app-category-tag></app-category-tag>
          <!-- /catagories -->
          
        
          
        
        </div>
        <!-- /aside -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
</div>


